@import '_variables';

/* whole nav bar */
#nav-bar {
  position: fixed;
  height: 80px;
  background: $feature-color;
  color: $offwhite;
  width: 100%;
  margin: 0;  /* why this is not applying to right side */
  z-index: 1;
  box-shadow: 1px 1px 10px grey;
  .logo {
    height: 80px;
    width: 80px;
    float: left;
    margin-left: 60px;
  }
  .header {
    color: white;
    font-size: 2em;
    line-height: 2.5em;
    padding-left: 10px;
    float: left;
  }
  #compose-btn {
    @include nav-btn;
    height: 60px;
    width: 120px;
    margin-right: 200px;
    margin-top: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    &:active {
      margin-top: 12px;
      margin-right: 200px;
    }
    #compose-text {
      text-align: center;
      vertical-align: middle;
      line-height: 60px;
    }
    #compose-icon {
      text-align: center;
      vertical-align: middle;
      line-height: 60px;
      margin-left: 11px;
    }
  }
  #sign-up {
    @include nav-btn;
    @include sign-in-up; 
    margin-right: 40px;
  }
  #sign-in {
    @include nav-btn;
    @include sign-in-up;
  }

}

/* "Tweeter" */

